.App {
  min-height: 100vh;
  background-image: linear-gradient(
    to top, #a18cd1 0%, #fbc2eb 100%);
}

.search-form{
  background-image: url("./images/banner.jpg");
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  height:15px ;
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 6px;
}

.search-button{
  border-radius: 1px;
  height: 30px;
  background: #5b0f6e;
  border: none;
  padding: 10px 20px;
  color: white;
  margin-left: 8px;
}

.recipes{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.Background {
  background-image: url("./images/banner.jpg");
}

.Logo {
    padding: 8px;
    height: 7%;
    width: 7%;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 2;
}

.Nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height:10vh;
  background:rgb(105, 124, 131);
  color: white;
}

.nav-links{
  width:40%;
  display:flex;
  justify-content:space-around;
  align-items:center;
  list-style: none;
}
