.recipe{
    border-radius: 10px;
    box-shadow: 15px 15px 40px black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:#a358b6;
    align-items: center;
    min-width: 42%;
}
.image{
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}

.try{
    margin: 5px;
    font-size: large;
    color: black;
}